.App-header {
    text-align: center;
    padding: 40px 0 10px 0;
    background-color: #efefef;
    color: #2f2f2f;
    border-bottom: #cfcfcf;
    border-bottom-width: 4px;
    border-bottom-style: inset;
}

div.App-body {
    display: inline-block;
    background-color: red;
    width: 100%;
    height: inherit;
}